*{
    margin: 0;
    padding: 0;

}


/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 100px;
    padding: 24px 160px 24px 160px;
    background-color:#F5F5F5 ;
}
nav h2{
    width: 222px;
    height: 38px;
    font-size: 32px;
    font-weight:700;
    color: #0E0E0E;


}
nav button {
    width: 166px;
    height: 52px;
    padding: 15px 30px 15px 30px;
    border-color: #006A50;
    border-radius: 8px;

}
nav button a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    
}
/*Main style */
main{
    max-width: 1280px;
    margin: 0px auto;

}

.style-1{
    width: 622px;
    height: 325px;

}
.section-1{
    height: 560px;
    padding: 80px 100px 80px 100px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    

}
.style-1 h4{
    font-weight: 500;
    font-size: 24px;
    height: 29px;
    color: #0E0E0E;
    opacity: 0.5;
    

}
.style-1 h3{
    height: 201px;
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    margin-top: 16px;

}
.style-1 button{
    width: 270px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #006A50;
    border: none;
    margin-top: 24px;
    font-weight:600;
    font-size: 16px;
    display: inline

}
.banner-pic{
    width: 474px;
    height: 400px;
}

/* Seaction 2 */

.section-2 h3{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;

}
.section-2 p{
    margin-top: 24px;
    columns:#0E0E0E ;
    opacity: 0.7;
    
}

.div-1{
    height: 325px;
    background-color:#548ff521;
    padding: 32px;
    border-radius: 16px;
}   

.div-pic{
    margin: 32px 314px 24px 32px;
   
}
.div-1 h3{
    width: 346px;
    height: 24px;
    font-weight: bold;
    font-size: 20px;
    color: #0e0e0ee0;
    margin: 0px 32px 0px 32px;

    
}
.div-1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0e;
    opacity: 0.7;
    margin: 12px 32px 24px 32px;

}

.div-1 button {
    width: 122px;
    height: 41px;
    border: 48px;
    padding: 11px 20px 11px 20px;
    margin: 24px 256px 32px 32px;
    background-color:#5490F5;
    border-radius: 8px;


}
.div-1 button a{
    text-decoration: none;
    font-weight:600;
    font-size: 15px;
    color: #FFFFFF;


}
/* Main div */
.Main-div{
    display: flex;
    max-width: 1280px;
    margin: 32px 0px 32px 0px ;
    gap: 24px;
}

.div-2{
    background-color:#C6E4D6;
    padding: 32px;
    border-radius: 16px;

}
.div-2 h3{
    font-weight: bold;
    font-size: 20px;
    color:#0E0E0E ;
    opacity: 0.8;

}
.div-2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 0.7;
    margin: 12px 0px 48px 0px;

}
.div-2 button{
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background-color: #09A15C;
    border: none;
    
}
.div-2 button a{
    text-decoration: none;
    width: 82px;
    height: 19px;
    font-weight: 600;
    color: #FFFFFF;
}

.div-3{
    background-color: #F7EBCF;
    padding: 24px;
    border-radius: 16px;

}
.div-3 h3{
    font-weight: bold;
    font-size: 20px;
    color:#0E0E0E ;
    opacity: 0.8;

}

.div-3 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#0E0E0E ;
    opacity: 0.7;
    margin: 12px 0px 64px 0px;
}
.div-3 button{
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background-color: #FFC239;
    border: none;


}
.div-3 button a{
    text-decoration: none;
    width: 82px;
    height: 19px;
    font-weight: 600;
    color: #FFFFFF;
}